/.deps
/Makefile
/config.cache
/config.status
/config/Makefile
/config/autoconf.mk
/config/mkdepend/Makefile
/config/myconfig.mk
/config/myrules.mk
/config/nfspwd
/config/nsinstall
/config/system_wrappers_js
/dist
/editline/.deps
/editline/Makefile
/editline/libeditline.a
/host_jskwgen
/host_jsoplengen
/imacro_asm.js
/imacros.c.tmp
/js
/js-confdefs.h
/js-config
/js-config.h
/jsapi-tests/.deps
/jsapi-tests/Makefile
/jsapi-tests/jsapi-tests
/jsautocfg.h
/jsautokw.h
/jsautooplen.h
/jscpucfg
/libjs_static.a
/libmozjs.so
/lirasm/Makefile
/shell/.deps
/shell/Makefile
/shell/js
/tests/Makefile
/unallmakefiles