/Makefile
/config.cache
/config.log
/config.status
/config/Makefile
/config/autoconf.mk
/config/mkdepend/Makefile
/config/myconfig.mk
/config/myrules.mk
/configure
/dist
/js-config
/js-config.h
/mozilla-config.h
/unallmakefiles
/.deps
/config/nfspwd
/config/nsinstall
/config/revdepth
/config/system_wrappers_js
/*.dylib
/*.a
/jscpucfg
/jsautokw.h
/jsautooplen.h
/jsautocfg.h
/host_jskwgen
/host_jsoplengen
/editline/.deps
/editline/Makefile
/editline/libeditline.a
js
/shell/.deps
/shell/Makefile
/shell/js
